<!DOCTYPE html>
<html >
<head>
    <link rel="stylesheet" href="dojo/dijit/themes/claro/claro.css">
    <script src="/Openlayers/OpenLayers.js"></script>
    <script>dojoConfig = {async: true}</script>
    <script src='/dojo/dojo/dojo.js'></script> 
    <script>
    require(["dojo/ready", "dojox/geo/openlayers/Map" ], function(ready, Map){
        ready(function(){
            map = new Map("map");
            map.fitTo([ -160, 70, 160, -70 ]);
        });
    });
    </script>
</head>
<body class="claro">
<div id="map" style="background-color: #b5d0d0; width: 400px; height: 400px;"></div>
</body>
</html>